<header class="s-header">

    <div class="header-logo">
        <a class="site-logo" href="index.html">
            <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Homepage">
        </a>
    </div>

    <nav class="header-nav">

        <a href="#0" class="header-nav__close" title="close"><span>Close</span></a>

        <div class="header-nav__content">
            <h3>Navigation</h3>
            
            <ul class="header-nav__list">
                <li class="current"><a href="{{ url_for('home') }}" title="home">Home</a></li>
                <li><a href="{{ url_for('home') }}#about" title="about">About</a></li>
                <li><a href="{{ url_for('home') }}#services" title="services">Services</a></li>
                <li><a href="{{ url_for('home') }}#works" title="works">Works</a></li>
                <li><a href="{{ url_for('home') }}#clients" title="clients">Clients</a></li>
                <li><a href="{{ url_for('home') }}#contact" title="contact">Contact</a></li>
                {% if session.get('user') %}
                    <li><a href="{{ url_for('dashboard') }}" title="dashboard">Dashboard</a></li>
                    <li><a href="{{ url_for('logout') }}" title="logout">Logout ({{ session['user']['name'] }})</a></li>
                {% else %}
                    <li><a href="{{ url_for('login') }}" title="login">Login</a></li>
                {% endif %}
            </ul>

            <p>Perspiciatis hic praesentium nesciunt. Et neque a dolorum <a href='#0'>voluptatem</a> porro iusto sequi veritatis libero enim. Iusto id suscipit veritatis neque reprehenderit.</p>

            <ul class="header-nav__social">
                <li>
                    <a href="#"><i class="fa fa-facebook"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-instagram"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-behance"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-dribbble"></i></a>
                </li>
            </ul>

        </div> <!-- end header-nav__content -->

    </nav>  <!-- end header-nav -->

    <a class="header-menu-toggle" href="#0">
        <span class="header-menu-text">Menu</span>
        <span class="header-menu-icon"></span>
    </a>

</header> <!-- end s-header -->